<h1>Staff Admin</h1>

 <!-- need to redo data already in db in order to change appt time/date format -->

<h2>Appointments Booked</h2> 
   <ul>
      <% @booked.each do |appt|%>
   
      <li>
         <p> <%= appt[0]%> - <%= appt[1] %> 
      </li>
      <%end%>
   </ul>

   
   
   


   



