<div class= 'container'>
    <h2>Services</h2>
    <ul> 
        <% @services.each do |service|%>
        <li>
        <p> <%= service.name%> </p>
        </li>
        <%end%>
    </ul>
</div>







