
<div class= 'home'>
   
         <h1> A Special Touch Day Spa</h1>
        <h2>~ A full service day spa to pamper a busy life style ~</h2><br>

    <h3>New Account</h3>
    <%= link_to  "Join Us", new_client_path, class: 'btn' %> <br>

    <h3>Already have an account? </h3>
    <%= link_to  "Log In", login_path, class: 'btn' %> <br>
  

  <h3><%= link_to 'Log in with Facebook!', '/auth/facebook', class: 'facebook' %>  </h3>
</div>
