
<div class= 'home'>
    <div id= 'welcome'>

        <h1>Welcome to A Special Touch Day Spa</h1>
        <p>A full service day spa to pamper a busy life style</p>


    <%= link_to  "Create an Account", new_client_path %> <br>

    <h2>Already have an account? </h2>
    <%= link_to  "Log In", login_path %> <br>
    </div>

  <h2> <%= link_to('Log in with Facebook!', '/auth/facebook') %> </h2>
</div>
