<h1>Welcome <%= @client.name %></h1>

<!-- <h2>Your current appointments</h2>
    <ul>
        <% @client.appointments.all.each do |appt| %>
        <li>
            <%= appt.
        </li>
    </ul>
 -->



