<h1>Welcome <%= @client.name %> </h1>

<h2>Your current appointments </h2>
    <%binding.pry%>
    <ul>
        <% @client.appointments.each do |appt|%>
        
        <li>
            <%= appt.datetime %>
            
        </li>
        <%end%>
    </ul>

<%= link_to "Book Appointment", appointments_new_path %>


