/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field_with_errors {
  padding: 2px;
  background-color: rgb(219, 11, 80);
  text-align: center;
 
}
.flash {
  padding: 2px;
  text-align: center;
  color: rgb(219, 11, 80);
  font-size: 2em;
  font-style: oblique;
}

 body {
  background-image: url(/assets/spa1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica', sans-serif;
  margin: 20px auto;
}

  .btn {
    background-color: rgb(139, 46, 197); 
    border: 1px;
    border-radius: 8px;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
  }
  .container {
    margin: 90px auto;
    text-align: left;
    width: 700px ;
}
ul {
  list-style-type: circle;
  color:  rgb(60, 5, 94);
}
p {
  font-size: 1.2em;
  font-weight: 700;
  color: black;
  margin: 5px;
}
h1 {
  padding: 15px;
  text-align: center;
  font-style: italic;
  font-size: 2.8em;
  color: #7C2AB2;
}
h2 {
  color: rgb(60, 5, 94); 
  font-size: 1.6em;
}

input{
  font-size: 20px;
  margin: 5px;
  border: 1px;
  border-radius: 6px;
  color: black;
}

label {
  font-size: 1.2em;
}

footer {
  
  
  padding-top: 50px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: rgb(60, 5, 94);
}