// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login {
    margin: 150px auto;
    color: black;
    text-align: left;
    font-size: 20px;
    width: 600px ;
}
.facebook {
    background-color: rgb(55, 98, 241);
    color: white;
    font-size: 20px;
    margin: 10px auto;
    border-radius: 8px;
}
