 
 <div class='container'>   
    <h1>Edit Appointment</h1>
    <%= render "form"%> <br>

    <%= link_to  "Delete Appointment", service_appointment_path(@appointment.service, @appointment), method: :delete, class: 'btn' %>
    
</div>
